/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.teams img {
  background-color: #fff;
  width: 120px;
  padding: 5px;
  border-radius: 10px;
}

.teams img:hover {
  opacity: 0.7;
  cursor: pointer;
}

.title {
  color: #fff;
}

.hidden {
  display: none;
}

.margin-top-sm {
  margin-top: 20px;
}

.margin-left-sm {
  margin-left: 20px;
}

.button-default {
  background-color: #fff !important;
  border-color: #e1e1e1 !important;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
  border-bottom: 1px solid #ddd;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background-image: url('../images/values-bg1.jpg');
  background-size: cover;
}
.categories .section-heading, .categories label {
  color: #fff;
}
.categories .section-description {
  margin-bottom: 4rem;
  color: #fff;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .player {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .player {
    top: -16rem;
    right: 5rem;
    max-height: 510px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  /*.section {
    padding: 20rem 0 19rem;
  }*/
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .player {
    top: -18rem;
    max-height: 615px;
  }
}
